input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.checkbox-blue-grey[type="checkbox"].filled-in:checked
  + span:not(.lever):after {
  border: 2px solid #388e3c;
  background-color: #388e3c;
}

.input-field label {
  font-size: 1.3rem;
}

.input-bottom-border {
  border-bottom: 2px solid #388e3c !important;
}

.bold-text {
  font-weight: bold;
}

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 100%;
  max-width: 600px;
}

body {
  font-family: "JetBrains Mono", monospace;
}
